@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --cor_primaria_1: hsl(0, 36%, 70%);
    --cor_primaria_2: hsl(0, 93%, 68%);
    --cor_neutra: hsl(0, 6%, 24%);
    --gradiente_1_1: hsl(0, 0%, 100%);
    --gradiente_1_2: hsl(0, 100%, 98%);
    --gradiente_2_1: hsl(0, 80%, 86%);
    --gradiente_2_1: hsl(0, 74%, 74%);

    --fonte: 'Josefin Sans', sans-serif;

}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@media screen and (min-width: 375px) and (max-width: 1439px) {
    #container{
        display: flex;
        flex-direction: column;
        height: 950px;
        margin: auto;
        max-width: 375px;
    }

    #cabecalho{
        background-color: white;
        width: 100%;
        height: 100px;
    }

    #cabecalho > img{
        position: relative;
        left: 10%;
        top: 35%;

        width: 120px;

    }

    #img{
        background: url('../imagens/hero-mobile.jpg') no-repeat;
        background-size: cover;
        width: 100%;
        height: 240px;
    }

    #txt{
        width: 100%;
    }

    #txt > h1{
        font: 600 2.5em var(--fonte);
        letter-spacing: 10px;
        text-align: center;    
    }

    #txt > p{
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;

        text-align: center;
        color: var(--cor_primaria_1);
        font: 600 16px var(--fonte);
    }

    #entrada{
        width: 100%;
        height: 100px;
    }

    #formulario{
        max-width: 500px;
        margin: auto;
        margin-top: 70px;
        position: relative;
    }

    #iemail::placeholder{
        color: var(--cor_primaria_1);
    }

    #iemail{
        font: 600 16px var(--fonte);
        color: var(--cor_primaria_1);
        padding-left: 20px;
        
        display: block;
        margin: auto;
        width: 360px;
        height: 50px;
        border-radius: 40px;
        border: 2px solid var(--cor_primaria_1);
    }
    #enviar{
        width: 70px;
        height: 50px;
        border-radius: 40px;
        border: none;
        cursor: pointer;

        background-color: hsl(0, 74%, 74%);
        position: absolute;
        left: 80%;
        top: 0%;
    }
}
@media screen and (min-width: 1440px) {
    #container{
        max-width: 1440px;
        display: grid;
        grid-template: 
        "cabecalho cabecalho imagem" 20%
        "conteudo conteudo imagem" 45%
        "conteudo-2 conteudo-2 imagem";
        grid-template-columns: 30% 30% 40%;
        margin: auto;
    }

    #cabecalho{
        grid-area: cabecalho;
        background-color: white;
        position: relative;
    }

    #cabecalho img{
        position: absolute;
        top: 40%;
        left: 15%;
    }

    #img{
        grid-area: imagem;
        background: url('../imagens/hero-desktop.jpg') no-repeat;
        background-size: cover;
        height: 100vh;
    }

    #txt{
        grid-area: conteudo;

    }

    #txt h1{
        font: 4em var(--fonte);
        margin-left: 15%;
        letter-spacing: 20px;
    }

    #txt p{
        font: 400 16px var(--fonte);
        text-align: left;
        margin-left: 15%;
      
        width: 450px;
    }
    #entrada{
        grid-area: conteudo-2;
    }

    #iemail::placeholder{
        color: var(--cor_primaria_1);
    }

    #formulario{
        max-width: 450px;
        margin-left: 15%;
        position: relative;
    }

    #entrada #iemail{
        font: 600 16px var(--fonte);
        color: var(--cor_primaria_1);
        padding-left: 20px;
        
        width: 360px;
        height: 50px;
        border-radius: 40px;
        border: 2px solid var(--cor_primaria_1);
    }

    #entrada #enviar{
        width: 90px;
        height: 50px;
        border-radius: 40px;
        border: none;
        cursor: pointer;

        background-image: linear-gradient(to right, var(--cor_primaria_1), var(--cor_primaria_2));
        position: absolute;
        left: 60%;
    }
}